@forward "../shared/variables";
@forward "../shared/tailwind";
@forward "../shared/dropdown";
@forward "../shared/document";
@forward "../shared/card";
@forward "../shared/notes";
@forward "../shared/modal";
@forward "../shared/table";
@forward "../shared/forms";
@forward "../shared/list";
@forward "../shared/stats";
@forward "../shared/select2";
@forward "../shared/utilities";
@forward "./layout";
@forward "./header-menu";
@forward "./dashboard";
@forward "./statuses";
@forward "./media";
@forward "./profile";
@forward "./list-tables";
@forward "./misc";
@forward "./progress";
@forward "./metrics";
@forward "./tooltip";
@forward "./document";
@forward "./settings";
@forward "./extensions";
@forward "./changelog";
