:root {
	--eac--color--primary: #77B82E;
	--eac--color--success: #1ee0ac;
	--eac--color--info: #17a2b8;
	--eac--color--warning: #ffc107;
	--eac--color--danger: #f64e60;
	--eac--color--income: #3644ff;
	--eac--color--expense: #f2385a;
	--eac--color--profit: #06d6a0;

	// border.
	--eac--color--border: #d2d6de;
}
